<div class="search-container">
  <h2 class="search-title">Search for Books</h2>
  <div class="search-form">
    <input
      class="search-input"
      type="text"
      placeholder="Author"
      [(ngModel)]="author"
    />
    <input
      class="search-input"
      type="text"
      placeholder="Title"
      [(ngModel)]="title"
    />
    <button class="search-button" (click)="searchBooks(author, title)">
      Search
    </button>
  </div>
  <ul class="search-results">
    <li *ngFor="let book of books" class="book-item">
      <span class="book-title">{{ book.title }}</span> by
      <span class="book-author">{{ book.author }}</span>
    </li>
  </ul>
</div>
